resource/GoalsValutation.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="goalview">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="goaltype">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:int" name="idGoal"/>
              <xs:element type="xs:date" name="start"/>
              <xs:element type="xs:date" name="end"/>
              <xs:element type="xs:string" name="type"/>
              <xs:element type="xs:string" name="signal"/>
              <xs:element type="xs:float" name="value"/>
              <xs:element name="measureDefinition">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:int" name="idMeasureDef"/>
                    <xs:element type="xs:string" name="measureName"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="person">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:int" name="idPerson"/>
                    <xs:element type="xs:string" name="firstname"/>
                    <xs:element type="xs:string" name="lastname"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="goals" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:float" name="expectedValue"/>
              <xs:element type="xs:float" name="value"/>
              <xs:element type="xs:string" name="result"/>
              <xs:element type="xs:date" name="data"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>