resource/Goal.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="goal">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:date" name="start"/>
        <xs:element type="xs:date" name="end"/>
        <xs:element type="xs:string" name="type"/>
        <xs:element type="xs:string" name="signal"/>
        <xs:element type="xs:float" name="value"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>